@use "./ArchivedFilesTable";
@use "./ArchiviedHeader";
@use "../../assets/styles/abstracts/colors" as *;
.archived {
  display: flex;
  flex-direction: column;
  width: 1127px;
  height: 940px;
  background: $app-background;
}
