@use "./Header";
@use "./Sidebar";
@use "../../assets/styles/abstracts/mixins" as *;
@use "../../assets/styles/abstracts/colors" as *;

.main-layout {
  display: flex;
  .desktop-sidebar {
    @include mobile() {
      display: none;
    }
  }

  .hamburger-nav {
    z-index: 1;
    @include desktop() {
      display: none;
    }
    @include mini-desktop() {
      display: none;
    }
    @include large-desktop() {
      display: none;
    }
    height: 30px;
    width: 30px;
    border: none;
    background: $search-background;

    padding: 20px;
    img {
      filter: invert(11%) sepia(100%) saturate(6476%) hue-rotate(267deg)
        brightness(89%) contrast(112%);
      cursor: pointer;
      height: 20px;
      width: 20px;
    }
  }
  // .mobile-sidebar {
  //   margin-right: 100px;
  //   margin-left: 100px;

  //   @include desktop() {
  //     display: none;
  //   }
  //   @mixin mini-desktop() {
  //     display: none;
  //   }
  //   @mixin large-desktop() {
  //     display: none;
  //   }
  // }

  .header-container-main-layout {
    @include mobile() {
      margin-bottom: 100px;
    }
  }
}
