@use "../../assets/styles/abstracts/colors" as *;
@use "../../assets/styles/abstracts/mixins" as *;

// @use "../../assets/styles/abstracts/mixins" as *;

#hamburgerSide {
  filter: invert(30%) sepia(87%) saturate(6677%) hue-rotate(126deg)
    brightness(99%) contrast(106%);
  @include mobile() {
    img {
      filter: invert(30%) sepia(87%) saturate(6677%) hue-rotate(126deg)
        brightness(99%) contrast(106%);
      cursor: pointer;
      height: 40px;
      width: 40px;
    }
    display: none;
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
  }
}

.sidebar {
  width: 313px;
  height: 100%;
  // @include mobile() {
  //   visibility: hidden;
  // }

  a {
    text-decoration: none;
  }

  .logo {
    margin-left: 30px;
    margin-top: 30px;
    width: 45px;
    height: 45px;
  }
  .upload-button {
    margin-left: 30px;
    margin-top: 42px;
    button {
      cursor: pointer;

      background-color: $primary;
      border: none;
      border-radius: 10px;
      color: $icon-color;
      width: 178px;
      height: 58px;
      display: flex;
      padding-left: 45px;
      padding-top: 20px;
      font-size: 15px;
      img {
        margin-right: 18px;
        filter: brightness(0) invert(1);
      }
    }
  }

  .sidebar-list {
    margin-top: 45px;
    ul {
      cursor: pointer;
      padding: 0;
      list-style: none;
      margin-bottom: 0;
      margin-top: 0;

      li {
        margin-bottom: 47px;
        color: $text-muted;
        font-weight: 600;
        .active {
          color: $text-black;
          filter: invert(0%) sepia(3%) saturate(6%) hue-rotate(88deg)
            brightness(101%) contrast(101%);
          img {
            filter: invert(0%) sepia(3%) saturate(6%) hue-rotate(88deg)
              brightness(101%) contrast(101%);
          }
        }
      }
    }
    img {
      margin-left: 33px;
      margin-right: 18px;
      filter: invert(47%) sepia(8%) saturate(1152%) hue-rotate(197deg)
        brightness(93%) contrast(93%);
    }
  }
}
