@use "../../assets/styles/abstracts/colors" as *;
@use "../../assets/styles/abstracts/mixins" as *;

.homeFilesTable-container {
  width: 672px;
}
.title-Recent-files {
  font-weight: bold;
  font-size: 50px;
  margin-left: 2px;
  margin-top: -17px;
  @include mobile() {
    margin-top: 20px;
  }
}

.imageIcon {
  filter: invert(27%) sepia(63%) saturate(7497%) hue-rotate(208deg)
    brightness(90%) contrast(101%);
}
.fileIcon {
  filter: invert(11%) sepia(100%) saturate(6476%) hue-rotate(267deg)
    brightness(89%) contrast(112%);
}
.videoIcon {
  filter: invert(30%) sepia(87%) saturate(6677%) hue-rotate(126deg)
    brightness(99%) contrast(106%);
}
.file-name {
  margin-left: 13px;
}
table {
  width: 100%;
  margin: 0;
  padding: 0;
  tbody {
    td {
      border-bottom: 1px solid $progress-background;
      padding-bottom: 15px;
      padding-top: 17px;
    }
  }

  th {
    text-align: left;
    padding-bottom: 4px;
    color: $text-muted;
    font-weight: 600;
    font-size: 13px;
  }
  .th-actions {
    float: right;
  }
  td {
    .elements-actions {
      display: flex;
      justify-content: end;

      button {
        background: $quaternary;
        border: none;
        border-radius: 50%;
        width: 32px;
        height: 32px;
        padding: 0;
      }

      .elements-actions-star {
        margin-right: 10px;
        img {
          font-weight: bold;

          height: 18px;
          width: 18px;
          filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg)
            brightness(103%) contrast(103%);
        }
      }

      .elements-actions-box {
        background: $quinary;
        img {
          font-weight: bold;

          height: 18px;
          width: 18px;
          filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg)
            brightness(103%) contrast(103%);
        }
      }
    }
  }
}
