@use "./_mediaCards";
@use "../../assets/styles/abstracts/colors" as *;
@use "./_HomeFilesTable";
@use "./_RightSidebar";
@use "../../assets/styles/abstracts/mixins" as *;
.home-main {
  display: flex;
  flex-direction: column;
  width: 1127px;
  height: 940px;

  .home-content {
    display: flex;
    @include mobile() {
      flex-direction: column;
      height: 100%;
      width: 100%;
    }
  }
}
