@use "../../assets/styles/abstracts/colors" as *;
@use "../../assets/styles/abstracts/mixins" as *;
.media-container {
  display: flex;
  height: 345px;
  width: 1127px;

  @include mobile() {
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin-left: 0;
  }

  .percentage-div {
    display: flex;
    margin-top: -10px;

    .usage-div {
      color: #6e7191;
      margin-top: 8px;
      font-weight: 600;
      font-size: 13px;
    }

    .percentage-fixed {
      margin-left: 3px;
      margin-top: 8px;
      color: #000000;
      font-weight: 600;
      margin-right: 12px;
    }
  }

  .boxes {
    width: 320px;
    height: 252px;
    border-radius: 12px;
    margin-right: 24px;
    margin-top: 38px;
    background: $card-background;

    .icon-box {
      width: 72px;
      height: 72px;
      border-radius: 15px;
      margin-top: 32px;
      margin-left: 32px;

      img {
        margin-left: 24px;
        margin-top: 21px;
        filter: invert(92%) sepia(26%) saturate(24%) hue-rotate(201deg)
          brightness(96%) contrast(110%);
      }
    }
    .icon-box-document-color {
      background: $primary;
    }
    .icon-box-image-color {
      background: $secondary;
    }
    .icon-box-video-color {
      background: $tertiary;
    }
    .documents_title {
      margin-left: 33px;
      margin-top: 29px;
      margin-bottom: 28px;
      color: $text-black;
      font-weight: 600;
    }

    // .progress-bar {
    //   // background: $progress-background;
    //   border-radius: 13px;
    //   margin-left: 30px;
    //   margin-right: 30px;

    //   progress[value] {
    //     width: 100%;
    //     -webkit-appearance: none;
    //     appearance: none;
    //   }

    //   progress[value]::-webkit-progress-bar {
    //     height: 12px;
    //     border-radius: 20px;
    //     //background-color: #eee;
    //     background: $progress-background;
    //   }

    //   progress[value]::-webkit-progress-value {
    //     height: 12px;
    //     border-radius: 20px;
    //     background-color: $secondary;
    //   }

    //   //div element progress
    //   .progress {
    //     height: 12px;
    //     border-radius: 10px;
    //   }
    //   .progress-document-color {
    //     background: $primary;
    //     width: 50%;
    //   }
    //   .progress-image-color {
    //     width: 50%;
    //     background: $secondary;
    //   }
    //   .progress-video-color {
    //     background: $tertiary;
    //     width: 30%;
    //   }
    // }

    .progress-counter {
      display: flex;
      .percentage {
        margin-left: 33px;
        margin-top: 8px;
        color: $text-black;
        font-weight: 600;
        margin-right: 12px;
      }
      .usage {
        color: $text-muted;
        margin-top: 8px;
        font-weight: 600;
        font-size: 13px;
      }
    }
  }
  .box-1 {
    margin-left: 3px;
  }
}
