@use "../../assets/styles/abstracts/colors" as *;
@use "../../assets/styles/abstracts/mixins" as *;

.RightSidebar-container {
  margin-left: 19px;
  width: 29%;
  margin-top: -11px;
  a {
    text-decoration: none;
  }
  @include mobile() {
    margin-top: 30px;
  }

  .RightSidebar-starred-card-container {
    display: flex;
    width: 320px;
    height: 119px;
    background: $card-background;
    border-radius: 15px;
    .square-starred-files {
      width: 56px;
      height: 56px;
      border-radius: 15px;
      background: #eaac30;
      margin-top: 32px;
      margin-left: 32px;
      img {
        margin-top: 15px;
        margin-left: 15px;
        filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(303deg)
          brightness(103%) contrast(101%);
      }
    }
    .starred-files-text {
      h4 {
        margin-top: 32px;
        margin-left: 18px;
        margin-bottom: 0;
        font-weight: 600;
      }
      h6 {
        margin-left: 18px;
        margin-top: 0px;
        margin-bottom: 0;
        color: $text-muted;
        font-weight: 600;
      }
    }
  }

  .RightSidebar-box-card-container {
    display: flex;
    margin-top: 23px;
    width: 320px;
    height: 119px;
    background: $card-background;
    border-radius: 15px;
    .square-box-files {
      width: 56px;
      height: 56px;
      border-radius: 15px;
      background: $quinary;
      margin-top: 32px;
      margin-left: 32px;
      img {
        margin-top: 15px;
        margin-left: 15px;
        filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(303deg)
          brightness(103%) contrast(101%);
      }
    }
    .box-files-text {
      h4 {
        margin-top: 32px;
        margin-left: 18px;
        margin-bottom: 0;
        font-weight: 600;
      }
      h6 {
        margin-left: 18px;
        margin-top: 0px;
        margin-bottom: 0;
        color: $text-muted;
        font-weight: 600;
      }
    }
  }
}
