$text-black: #000000;
$text-muted: #6e7191;

$app-background: #fcfcfc;
$card-background: #f7f7fc;

$primary: #610bef;
$secondary: #005bd4;
$tertiary: #008a00;
$quaternary: #eaac30;
$quinary: #ca024f;

$progress-background: #d9dbe9;
$search-background: #f7f7fc;

$icon-color: #ffffff;

$icon-button: #a0a3bd;
$select-color: #eff0f6;
